body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: 'header header header header'
                        'section1 section1 section1 section1'
                        'apresentacao apresentacao apresentacao apresentacao'
                        'third third third third'
                        'footer footer footer footer';
    grid-template-rows: 80vh auto 400px auto auto;
    margin: 0;
    padding: 0;
}

.bg-img{
    background-image: url('Imgs/banner.png');
    background-position: center right;
    background-size: cover;
}

header{
    border-top: 10px solid rgb(25, 153, 25);
    color: white;
    display: grid;
    grid-template-areas: 'header1 header2';
    grid-template-columns: 25vw 30vw;
    grid-gap: 5vw;
    grid-area: header;
    justify-content: center;
} 

header div{
    align-items: center;
    display: flex;
    justify-content: center;
}

header span{
    color: rgb(15, 192, 15);
}

.header1{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-area: header1;
}

.header1 ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.header1 li{
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0 5px;
    width: 60px;
}

.header1 li:hover{
    background-color: rgb(25, 153, 25);
}

.header1 a{
    display: block;
}

.header1 img{
    width: 30px;
}

.header2{
    display: flex;
    grid-area: header2;
    align-items: flex-end;
}

.header2 img{
    height: 410px;
    width: 360px;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 40pt;
    font-weight: normal;
    margin: 0;
}

.section1{
    align-items: center;
    display: flex;
    grid-area: section1;
    justify-content: center;
    text-align: center;
}

.section1 ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 80%;
}

.section1 li{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    width: 33%;
}

.section1 img{
    height: 35px;
    width: 35px;
}

.section1 div{
    align-items: center;
    background-color: rgb(25, 153, 25);
    border-radius: 50%;
    display: flex;
    height: 75px;
    justify-content: center;
    width: 75px;
}

.section1 p{
    color: grey;
    margin: 0;
}

/* inicio seção de apresentação */
.apresentacao {
    grid-area: apresentacao;
    background-color: rgb(202, 199, 199);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao__texto,
.apresentacao__video {
    width: 30%;
    height: 70%;
}

.apresentacao__texto {
    margin-right: 150px;
    font-family: 'Roboto', sans-serif;
}

.apresentacao__texto h2 {
    font-size: 16pt;
    font-weight: 500;
    margin-top: 0;
}

.apresentacao__texto p {
    font-size: 10pt;
    color: gray;
    line-height: 20px;
}

.apresentacao__campo-email {
    display: flex;
}

.apresentacao__campo-email button, input {
    padding: 10px 20px;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.apresentacao__campo-email input {
    border-radius: 10px 0 0 10px;
    width: 70%;
}

.apresentacao__campo-email button {
    width: 30%;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: rgb(13, 207, 13);
    color: white;
}

.apresentacao__video iframe {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}


.third{
    grid-area: third;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /*esta centralizando os itens do third no centro da tela*/
    text-align: center;
}

.third p{
    color: grey;
}

.ipsum{
    font-style: italic;
    width: 60%;
}

.img:hover{
    width: 100px;
    height: 100px;

}

.case{
    display: flex;
}


.img{
    width: 45px;
    height: 45px;
    margin: 3px;
}

.sn{
    width: 20px;
    margin: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
}

.redes a{
    align-items: center;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.redes a:hover{
    background-color: rgb(15, 192, 15);
}

h2{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 14pt;
}

.footer{
    text-decoration: none;
    color: grey;
    padding-right: 30px;
}

footer a:hover{
    color: white;
}

footer{
    margin-top: 40px;
    grid-area: footer;
    background-color: lightgray;
    height: 120px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer p{
    font-family: 'Pacifico', cursive;
    font-size: 15pt;
}

footer span{
    color: rgb(25, 153, 25);
}

@media(max-width: 1100px){
    body{
        grid-template-rows: 40vh auto;
    }

    .header2 img{
        height: 80%;
        width: 100%;
    }
}

@media(max-width: 800px){
    body{
        grid-template-rows: 80vh auto;
    }

    header{
        grid-template-areas: 'header1 header1';
        grid-template-columns: 90vw;
        grid-gap: none;
    }

    .bg-img{
        background-size: cover;
    }

    .header1{
        display: flex;
        justify-content: center;
    }
    
    .header2{
        display: none;
    }

    .section1 ul{
        display: block;
    }

    .section1 li{
        padding: 20px 0;
        width: 100%;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .apresentacao__texto p {
        margin-bottom: 25px;
    }
    .apresentacao__texto {
        height: 35%;
        margin: 30px 0 0 0;
        text-align: center;
        font-size: 28pt;
    }

    .apresentacao__texto p {
        margin: 10px 0;
    }
    .apresentacao__campo-email button, input {
        padding: 5px 10px;
        font-size: 10pt;
    }

    .apresentacao__texto {
        margin: 25px 0;
        height: 185px;
    }

    .apresentacao__campo-email input,
    .apresentacao__texto,
    .apresentacao__video {
        width: 80%;
    }

    .apresentacao__video {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .apresentacao__video iframe {
        border-radius: unset;
        width: 100%;
        height: 250px;
    }

    .ipsum{
        width: auto;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer{
        margin: 10px 0;
        padding: 0;
    }

    .fotos :not(.fica){
        display: none;
    }

    .fica{
        width: 100px;
        height: 100px;
        margin-right: 1em;
        border-radius: 10%;
    }
}

@media only screen and (max-width: 360px) {
    .apresentacao__texto {
        height: 225px;
    }
    .apresentacao__video {
        margin-bottom: 50px;
        height: 200px;
        width: 100%;
    }
    .apresentacao__video iframe {
        height: 100%;
    }
}